@page "/projects"
@attribute [Authorize]

<PageTitle>Projects</PageTitle>

@code {
    [Inject] ProjectService ProjectService { get; set; } = default!;
    [Inject] ProjectRequestService ProjectRequestService { get; set; } = default!;
    [Inject] NavigationManager NavManager { get; set; } = default!;
    [CascadingParameter] public PageState PageState { get; set; } = default!;


    public string searchString { get; set; } = default!;

    List<Project>? Projects { get; set; } = default!;

    protected override async void OnInitialized()
    {
        Projects = await ProjectService.GetProjectsBySearch("");
    }


    private async Task searchProjects()
    {
        Projects = await ProjectService.GetProjectsBySearch(searchString);
    }

    private async Task requestToJoinProject(int projectId)
    {
        var request = ProjectRequestService.CreateProjectRequest(projectId);

        NavManager.NavigateTo("/projects");
    }

    private bool canRequest(int projectId)
    {
        return PageState.User.ProjectRequests.Any(x => x.ProjectId == projectId);
    }

}

<div class="flex flex-row gap-x-6 mb-3">
    <label class="flex-1 input input-bordered flex items-center gap-2">
        <input type="text" class="grow" placeholder="Search" @bind="searchString" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
            <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
        </svg>
    </label>
    <button class="btn btn-primary" @onclick="searchProjects">Search</button>
</div>

    @foreach (var project in Projects)
{
    <div class="card bg-base-100 shadow-xl mb-3">
        <div class="card-body">
            <h6 class="text-xs color decoration-gray-500">@project.User.Name - @project.User.JobTitle</h6>
            <h6 class="text-xs color">@project.CreatedAt.ToString("dd-MMM-yyyy")</h6>
            <h1 class="text-3xl font-bold">
                @project.Title
            </h1>
            <p>
                @project.Description
            </p>
        </div>

        <RequestButton projectId="project.Id" disabled="canRequest(project.Id)"></RequestButton>

    </div>
}
